{% extends 'chat/base.html' %}
{% block chat_block %}
    {% for message in messages %}
        <div id="message_{{ message.id }}" class="message-wrapper{% if message.sender == user %} reverse">
            <img class="message-pp"
                 src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80"
        {% else %}">
            <img class="message-pp"
                 src="https://images.unsplash.com/photo-1587080266227-677cc2a4e76e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=934&amp;q=80"
        {% endif %}
                 alt="profile-pic">
        <div class="message-box-wrapper">
            <div class="message-box">
                {{ message.text }}
            </div>
            <div style="user-select: none;">
                <span {% if not message.is_edited %}hidden{% endif %}>edited</span>
                <span>{{ message.time_create|date:'d.m H:i' }}</span>
            </div>
            <div class="message-edit-del">
                {% if message.sender == user %}
                    <span onclick="editMessageOnClick({{ message.id }})">edit</span>
                {% endif %}
                <span onclick="deleteMessage({{ message.id }})">delete</span>
            </div>
        </div>
        </div>
    {% endfor %}
{% endblock %}